
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&display=swap');

:root {

    /* color */
    --orange: #FC6B3F;
    --text: #ffffff;
    --black: black;


    /* font-size */
    --heading1: 48px;
    --paragraph1: 20px;

    /* font-family */
    --font-bebas: "Bebas Neue";
    --font-dm: "DM Sans";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
}

body{
    Background-color: var(--black);
    overflow-x: hidden;
    font-family: var(--font-bebas);
}

/* PAGE 1 */





/* PAGE 2 */
/* Product */
.product {
  padding: 100px;
  background-image: url('Assets/background4.jpg');
  object-fit: none;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.product .product-head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product .container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.product .container h1 {
  font-size: 50px;
  color: var(--orange);
}

.product .container .btn {
  margin: 20px 0 0 0;
}

.product .container a {
  border: 2px solid;
  border-radius: 8px;
  padding: 10px;
  text-decoration: none;
  font-family: var(--font-dm);
  font-size: 15px;
}

.product .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 1000px;
}

.product .row .card {
  margin: 25px;
}

.product .row .card {
  width: 100%;
  height: auto;
  transform: translateY(5%);
  transition: transform 0.5s ease-in-out;
}

.product .row .card:hover {
  transform: translateY(0);
  transform: scale(1.1);
}

.product-desc {
  padding: 10px;
  text-align: left;
}

.product-desc h4 {
  margin: 0;
}

.product-desc p {
  margin-bottom: 15px;
  font-size: 14px;
  font-family: var(--font-dm);
}

.product-desc p img {
  margin-right: 5px;
}

button {
  background-color: #FC6B3F;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  font-family: var(--font-dm);
}

button:hover {
  background-color: #45a049;
}

/* PUPULAR PICKS */
.popular {
  display: flex;
  justify-content: center;
  padding: 60px 60px;
}
.popular .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.popular article h1{
  display: flex;
  font-size: var(--heading1);
  color: var(--orange);
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.popular .popular-lists {
  display: flex;
  gap: 25px;
}

.popular .popular-lists img {
  height: 412px;
  width: auto;
}