@import url("https://fonts.cdnfonts.com/css/dm-sans");
@import url("https://fonts.cdnfonts.com/css/bebas-neue");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "DM Sans", sans-serif;
  font-family: 'Bebas Neue', sans-serif; */
}
#section {
  position: relative;
  width: 100%;
  height: 180vh;
  overflow: hidden;
}

#section .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#section .dekorasi {
  background-position: 50% 50%;
  width: 100%;
  display: grid;
  place-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.container {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.header {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0 100px 0 100px;
}
.header .logo {
  width: 50px;
  height: 20px;
}
.nav_links {
  display: flex;
  list-style: none;
  gap: 50px;
}
.nav_links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
}
.nav_links li a:hover {
  text-decoration: underline;
}
.header .btn {
  display: flex;
  gap: 16px;
}
.btn .btn-signUp button {
  background-color: #fc6b3f;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  border: 1px #fc6b3f solid;
  color: white;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.btn .btn-signUp button:hover {
  background-color: white;
  color: black;
  border: 1px white solid;
}
.btn .btn-login button {
  background: none;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  border: 1px white solid;
  color: white;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.btn .btn-login button:hover {
  background-color: #fc6b3f;
  color: white;
  border: 1px #fc6b3f solid;
}
section .container .text-judul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.text-judul .text-p {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-weight: bold;
}
.text-judul .text-h1 {
  font-size: 120px;
  font-weight: bold;
  font-family: "bebas Neue", sans-serif;
  color: white;
}

.text-judul .btn-text button {
  padding: 10px 20px 10px 20px;
  background: none;
  border: 2px white solid;
  color: white;
  font-size: 25px;
  font-family: "DM Sans", sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 100);
  cursor: pointer;
}
.text-judul .btn-text button:hover {
  background-color: #fc6b3f;
  color: white;
}
.content {
  margin: 0 100px 0 100px;
  display: flex;
  justify-content: space-between;
}
.column {
  flex: 0 0 48%;
}
.column .featured {
  color: white;
  background-color: #03b82b;
  width: 115px;
  height: 39px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
}
.column .textshoe {
  display: flex;
  gap: 20px;
  align-items: center;
}
.textshoe .tahun {
  color: #fc6b3f;
  font-size: 90px;
  font-family: "bebas Neue", sans-serif;
}
.textshoe .shoe {
  color: white;
  font-size: 90px;
  font-family: "bebas Neue", sans-serif;
}
.column .collection {
  font-size: 120px;
  font-family: "bebas Neue", sans-serif;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
  color: transparent;
  line-height: 1;
}
.column .textnormal {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}
.column .btnContent {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.btnContent .btnshop {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #fc6b3f;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}
.btnContent .btnshop:hover {
  background-color: white;
  color: black;
  border: 1px white solid;
}
.btnContent .btnCollection {
  width: 150px;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}
.btnContent .btnCollection:hover {
  background-color: #fc6b3f;
  color: white;
  border: #fc6b3f;
}
.contentimg {
  background-image: url("Assets/home1.png");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  width: 632px;
  height: 563px;
}

#sectionTiga {
  background-color: black;
  display: flex;
}

#sectionTiga img {
  height: 60px;
  width: 40px;
}