@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&display=swap');

:root {

  /* color */
  --orange: #FC6B3F;
  --text: #ffffff;
  --black: black;


  /* font-size */
  --heading1: 48px;
  --heading2: 56px;
  --paragraph1: 20px;

  /* font-family */
  --font-bebas: "Bebas Neue";
  --font-dm: "DM Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

body {
  Background-color: var(--black);
  overflow-x: hidden;
  font-family: var(--font-bebas);
  height: auto;
}

/* Popular Product*/
.product {
  display: flex;
  justify-content: center;
  padding: 60px 60px;
}

.product .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.product article h1 {
  display: flex;
  font-size: var(--heading1);
  color: var(--orange);
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.product-lists {
  display: flex;
  gap: 25px;
}

.product-lists img {
  height: 412px;
  width: auto;
}

/* Parallax Product */
.parallax {
  display: flex;
  position: relative;
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s ease-in-out;
}

.parallax h1 {
  position: absolute;
  font-size: var(--heading2);
  color: var(--orange);
  justify-content: right;
  align-items: start;
  padding: 50px 0 0 60px;
}

.parallax .lists {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding: 30px 0 0 60px;
  overflow: hidden;
}

.lists figure {
  transform: translateY(18%);
  transition: transform 0.5s ease-in-out;
}

.lists figure:hover {
  transform: translateY(0);
}

.parallax .lists img {
  height: auto;
  width: 250px;
}

.btn {
  border-radius: 20px;
  border: solid 1px var(--orange);
  background-color: var(--orange);
  width: 110px;
  height: 30px;
  cursor: pointer;
  font-family: var(--font-dm);
  font-weight: 500;
}